# vi: ft=muttrc

# Important: set all options to avoid overlap
# when switching accounts

set hostname = gmail.com

# Receive options
set folder = imaps://imap.$hostname:993
# set folder = ~/.mail/example.gmail.com
# mailboxes +inbox +drafts +important +sent +spam +starred +trash
set imap_user = $EMAIL # example@gmail.com
set imap_pass = ""

# Send options
set smtp_url = smtps://$imap_user:$imap_pass@smtp.$hostname:465 # 587
# set smtp_pass = ""
set realname = $USER
set from = $imap_user
set signature = ~/.signature

# set certificate_file = ~/.mutt/com.gmail.example/certificates

# account-hook $folder "set imap_user=$imap_user imap_pass=$imap_pass"

source accounts/com.gmail
