# vi: ft=muttrc

set imap_user = $EMAIL # user@ovh.net
set imap_pass = ""

set realname = $USER
set from = $imap_user
set signature = ~/.signature

# Important: set all account options to avoid overlap
source accounts/net.ovh

# set hostname = ssl0.ovh.net
