# vi: ft=muttrc

set imap_user = $EMAIL # user@ovh.net
set imap_pass = ""

set realname = $USER
set from = $imap_user
set signature = ~/.signature

set certificate_file = ~/.mutt/net.ovh.example/certificates

# account-hook $folder "set imap_user=$imap_user imap_pass=$imap_pass"

# Important: set all account options to avoid overlap
source accounts/net.ovh # .ssl0
# set hostname = ssl0.ovh.net
source accounts/net.ovh.imap
source accounts/net.ovh.smtp
